<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css"  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"  href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap5.min.css">

    <title>Document</title>
</head>
<body>
<div class="container">
    @if($photos)
    <table id="example" class="table table-striped table-sm" style="width:100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Call Name</th>
            <th>Position</th>
            <th>Photo</th>
            <th>Photo By</th>

        </tr>
        </thead>
        <tbody>
        @foreach($photos as $photo)
        <tr>
            <td>{{$photo->id}}</td>
            <td>{{$photo->callName}}</td>
            <td>{{$photo->img_pos}}</td>
            <td>{{$photo->pics}}</td>
            <td>{{$photo->img_by}}</td>

        </tr>

        @endforeach
        </tbody>
        <tfoot>
        <tr>
            <th>ID</th>
            <th>Call Name</th>
            <th>Position</th>
            <th>Photo</th>
            <th>Photo By</th>
        </tr>
        </tfoot>
    </table>
    @endif
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>
</body>
</html>

